<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div   style="margin-left: 25%;margin-right: 25%;">
    <div class="card-deck">
        <div style="display: flex; justify-content: center !important;width: 30%;" class="card text-white bg-dark mb-3">
            <div  style="display: flex; justify-content: center !important;" >
            <iframe src="https://www.seethestats.com/stats/20721/activeusers?t=286dcddf43aca44433b0f9e68552d0"
                style="width:200px;height: 100%;border:none;" scrolling="no" frameborder="0"></iframe>
                </div>
            <div style="display: flex; justify-content: center !important;"  class="card-body">
                <h1 class="card-title">Broj aktivnih korisnika</h1>
               <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            </div>
        </div>
        <div style="display: flex; justify-content: center !important;width: 30%;" class="card text-white bg-dark mb-3">
            
            <div style="display: flex; justify-content: center !important;" class="card-body">
                
                <h1 class="card-title">Broj registrovanih korisnika</h1>
               
                <p class="card-text" style="font-size: 60px;"><br> {{brojKorisnika}}</p>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            </div>
        </div>
    </div>
    </div>
    <div style="width: 100%;height: 600px;">
        <iframe src="https://www.seethestats.com/stats/20721/SessionsHOURLY_51eae7507_ifr.html"
            style="width:100%;height:100%;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>
 <!--   <div style="position: absolute; top: 600px;left: 0px;">
        
    </div>
    <div style="position: absolute; top: 600px;left: 400px;">
        <iframe src="https://www.seethestats.com/stats/20721/activeusers?t=286dcddf43aca44433b0f9e68552d0"
            style="width:120px;height:60px;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>
    
    <div style="position: absolute; top: 800px;left: 400px;">
        <iframe src="https://www.seethestats.com/stats/20721/NewUsersHOURLY_9d8f530a4_ifr.html"
            style="width:100%;height:100%;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>
    
    <div style="position: absolute; top: 1000px;left: 0px;right: 30%;height: 600px;">
        <iframe src="https://www.seethestats.com/stats/20721/SessionsHOURLY_51eae7507_ifr.html"
            style="width:100%;height:100%;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>-->
</body>
