.right-link {
    right: 4px;
    position: absolute;
    top: 4px;
    color: white;
}

.link {
    text-decoration: none;
    font-size: 12px;
    padding: 8px;
}

.main-title {
    top: 10px;
    left:300px;
    position: absolute;
    color: white;
}

body {
    position: absolute;
    top:10%;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 16px;
}
