.link {
    text-decoration: none;
    font-size: 12px;
    padding: 8px;
}
.left-content
{
    float: left;
    width: 80%;
}
.right-content
{
    margin-top: 10px;
    width:20%;
    float: right;
}
.kartica
{
    height: 30px;
}